{% extends 'layout.html' %}
{% block body %}

<h1>About Us</h1>
<div class="well">
  <h4>Address:</h4>
  <address class="">
    <p>123 Mortnon Street</p>
    <p>Franklin, IN 46141</p>
  </address>
  <h4>Phone:</h4>
  <phone>(317) 555-5555</phone>
  <h4>Email:</h4>
  <email>admin@franklinfleamarket.com</email>
</div>
<div class="">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Brand_new_second_hand.jpg/320px-Brand_new_second_hand.jpg" alt="" class="img-about"/>
  <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Rosemont_Flea_Market.jpg" alt="" class="img-about"/>
</div>

{% endblock %}
