{% extends 'layout.html' %}
{% block body %}
<h1>Add Item to {{ booth.name }}</h1>
<form class="" action="#" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value=""><br>
  <textarea name="description"></textarea><br>
  <input type="text" name="description" value=""><br>
  <label for="price">Price</label>
  <input type="text" name="price" value=""><br>
  <label for="category">Category</label>
  <input type="text" name="category" value=""><br>
  <!-- <label for="picture">Picture Link</label>
  <input type="text" name="picture" value=""><br> -->

  <button type="submit" name="button">Submit</button>  <a href="{{ url_for('booth', booth_id=booth.id) }}">Cancel</a>

</form>
{% endblock %}
