{% extends 'layout.html' %}
{% block body %}
<!-- TODO: add pictures to item listing
     FIXME: edit page link not working
     TODO: add some styling
     TODO: need to add contact info
     TODO: need to add picture
     TODO: need to add edit booth info button
     TODO: need to add booth delete button
     TODO: need to link each item to signle item page
-->
<h1>{{ booth.name }}</h1>
<a href="{{ url_for('addItem', booth_id=booth.id)}}" class="btn btn-success">New Item</a>
<ul class="list-unstyled">
  {% for item in items %}
  <li>
    <h3>{{item.name}}</h3>
    <p>{{ item.description }}</p>
    <p>{{ item.price }}</p>
    <a href="{{ url_for('editItem', booth_id=booth.id, item_id=item.id) }}" class="btn btn-primary">Edit</a>
    <a href="{{ url_for('deleteItem', booth_id=booth.id, item_id=item.id) }}" class="btn btn-danger">Delete</a>
  </li>
  {% endfor %}
</ul>


{% endblock %}
