<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Franklin Flea Market" content="">
    <meta name="Larry Tooley" content="">

    <title>Franklin Flea Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    <link href="../static/main.css" rel="stylesheet">

  </head>
  <body>
   <nav class="">
     <div class="container-fluid">
       <div class="row">
         <h1 class="text-primary col-xs-11">Franklin Flea Market</h1>
         <button class="btn btn-primary col-xs-1">Log In</button>
       </div>
     </div>
   </nav>
       <div class="row>">
          <div class="col-xs-4">
            <h5>Categories</h5>
            <ul>
              <li>Furniture</li>
              <li>Rugs/Mats</li>
              <li>Dishes</li>
              <li>Art</li>
              <li>Collectables</li>
              <li>Pet Supplies</li>
            </ul>
          </div>
          <div class="col-xs-4">
            <h5>Latest Items</h5>
            <ul>
              <li>Table</li>
              <li>Chairs</li>
              <li>Dale Earnhart Painting</li>
              <li>Dog Food Bowl</li>
              <li>Nail Clippers</li>
              <li>Spoon</li>
            </ul>
          </div>
        <div class="col-xs-4">
          <h5>Booths</h5>
          <ul>
            <li>Linda's Lot</li>
            <li>Rhonda's Room</li>
            <li>Sam's Stuff</li>
            <li>Kathy's Korner</li>
          </ul>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">Copyright 2015 Flea Market Industries</p>
      </div>
    </footer>
  </body>
</html>
