{% extends 'layout.html' %}
{% block body %}

<div class="col-lg-4 col-md-4 col-xs-12">
  <h3>Come See These Vendors</h3>
  <ul class="list-unstyled">
    {% for booth in booths %}
    <li><img src="{{ booth.image }}" alt="" class="img-thumbnail" />  <a href="{{ url_for('booth', booth_id=booth.id) }}">{{ booth.name }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="col-lg-4 col-md-4 col-xs-12">
  <h3>Newest Items Listed</h3>
    <a href="{{ url_for('allItems') }}" class="btn btn-primary">See All Items</a><br><br>
    <ul class="list-unstyled">
      {% for item in items %}
      <li><img src="{{ item.image }}" alt="" class="img-thumbnail"/>  <a href="{{ url_for('item', booth_id=item.booth_id, item_id=item.id) }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
</div>
<div class="col-lg-4 col-md-4 col-xs-12">
  <h3>Browse by Category</h3>
  <ul class="list-unstyled">
    {% for cat in cats %}
    <li><a href="{{ url_for('categoryItems', category=cat) }}">{{ cat }}</a></li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
