{% extends 'layout.html' %}
{% block body %}
<!-- TODO: add some styling
-->
<h1><img src="{{booth.image}}" alt="" />{{ booth.name }}</h1>

<div class="">
  {{booth.email}}
</div>
<div class="">
  {{booth.phone}}
</div>


<ul class="list-unstyled">
  {% for item in items %}
  <li>
    <a href="{{ url_for('item', booth_id=booth.id, item_id=item.id) }}"><h3>{{item.name}}</h3></a>
    <img src="{{ item.image }}" alt="">
    <p>{{ item.description }}</p>
    <p>{{ item.price }}</p>
  </li>
  {% endfor %}
</ul>


{% endblock %}
